* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  padding: 20px;
  background-color: #edebeb;
  width: 800px;
  margin: 50px auto;
}

header {
  display: flex;
  align-items: center;
  background-color: #13bccf;
  padding: 10px 10px;
}

.point-board {
  display: flex;
  flex-direction: column;
  width: 140px;
}

td {
  padding: 5px;
}

table {
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-left: 150px;
}

.start-btn,
.reset-btn {
  padding: 5px;
  color: black;
  border: none;
  border-radius: 5px;
  width: 80px;
  font-weight: bold;
  font-size: 16px;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 90%;
}

.stopwatch,
.time {
  color: white;
  font-weight: bold;
}

.player-info {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

.group-icon {
  display: flex;
  gap: 10px;
}

.point-grade {
  width: 200px;
  text-align: center;
}

.pg {
  margin: 0 20px;
  width: 15px;
  background-color: #f1eff1;
}

main {
  background-color: white;
}

.point {
  font-size: 19px;
}

.add-player-board {
  background-color: #13bccf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}

.add-player-btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin-right: 60px;
}

.input-player {
  width: 75%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #0083b3;
  color: white;
}

.input-player::placeholder {
  color: #e3cdcb;
}

i {
  cursor: pointer;
}

i:hover {
  opacity: 85%;
  background-color: #e3cdcb;
}

.top-ranking {
  color: yellow;
}
